#header {
  padding: 20px 0;
}

.linkbutton {
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 6px;
  margin: 20px 20px 20px 20px;
  padding: 8px 0px;
  outline: none;
  border: 2px solid transparent;
}

.linkbutton > span {
  color: #000;
  font-family: serif;
}

body {
  background: #2a2a2e;
}

.center {
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-family: cursive;
}

.cardStack {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  width: 300px;
  height: 420px;
  outline: 4px solid #000;
  background-color: #fff;
  padding: 5px;
  color: #000;
  font-size: 18px;
}
