body {
    background-color: black;
}

#bookcase {
    width: 700px;
/*    background-color: #79574a;*/
    outline: 10px solid #79574a;
    padding: 10px;
}

.shelf {
/*    margin: 1px;*/
    display: flex;
    flex-wrap: wrap;
}

.book {
    margin: 5px 0;
    height: 150px;
    border-color: white;
    outline: 1px solid white;
    writing-mode: vertical-rl;
/*    text-orientation: mixed;*/
/*    text-align: center;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.book > p {
    margin: 0;
    font-size: 16px;
}

.worm {
    background-color: #444;
    color: white;
}

.ward {
    background-color: black;
    color: yellow;
}

.pact {
    background-color: #7e0000;
    color: white;
}

.pale {
    background-color: cornflowerblue;
    color: black;
}

.twig {
    background-color: darkgreen;
    color: white;
}

.claw {
    background-color: darkblue;
    color: white;
}
