body {
    background-color: black;
}

.shelf {
    display: flex;
}

.book {
    height: 150px;
    border-color: white;
    outline: 1px solid white;
    writing-mode: vertical-rl;
/*    text-orientation: mixed;*/
    text-align: center;
}

.worm {
    background-color: #444;
    color: white;
}

.ward {
    color: yellow;
}

.pact {
    background-color: darkred;
    color: white;
}

.pale {
    background-color: lightpink;
    color: black;
}

.twig {
    background-color: green;
    color: black;
}

.claw {
    background-color: darkblue;
    color: white;
}
