body {
    background-color: black;
}

#bookcase {
    margin: 50px;
    width: 925px;
    outline: 10px solid #79574a;
    padding: 10px;
}

.shelf {
    /*    margin: 1px;*/
    display: flex;
    flex-wrap: wrap;
}

.book {
    margin: 5px 0;
    height: 400px;
    border-color: white;
    outline: 1px solid white;
    writing-mode: vertical-rl;
    /*    text-orientation: mixed;*/
    /*    text-align: center;*/

    display: flex;
    justify-content: center; /* Whether the text is at the top, center, or bottom of the spine. */
    align-items: center;
    container-type: size;
}

.book > p {
    margin: 0;
    font-size: 25px;
    font-family: serif;
}

.worm {
    background-color: #444;
    color: white;
}

.ward {
    background-color: black;
    color: yellow;
}

.pact {
    background-color: #7e0000;
    color: white;
}

.pale {
    background-color: skyblue;
    color: black;
}

.twig {
    background-color: darkgreen;
    color: white;
}

.claw {
    background-color: darkblue;
    color: white;
}

.seek {
    background-color: black;
    color: hotpink;
}
